<!--本の新規登録画面のView-->
<h1>読んだ本を登録する</h1>

<!--form_withを書くことでhtmlのformタグが自動で生成される-->
<%= form_with(model: @book ) do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
  
  <%= f.label :author, '作者' %>
  <%= f.text_field :author %>

  <%= f.label :review, '感想' %>
  <%= f.text_field :review %>
  
  <%= f.submit '登録' %>
<% end %>

<%= link_to '一覧に戻る', books_path %>