<!--修正-->
<!--検索結果の表示画面-->
<h1>検索結果</h1>

<!--booksの一覧をテーブル表示-->
 <% if @results.length != 0 %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">id</th>
        <th class="text-center">タイトル</th>
        <th class="text-center">作者</th>
        <th class="text-center">感想</th>
      </tr>
    </thead>
    
  <!--検索にマッチした全ての本から1つづつ取り出す-->
  <% @results.each do |book| %>
  <tbody>
  <tr>
    <td class="text-center"><%= link_to book.id, book %></td>
    <td class="text-center"><%= book.title %></td>
    <td class="text-center"><%= book.author %></td>
    <td><%= book.review %></td>
  </tr>
  <% end %>
      </tbody>
  </table>
<br>
<% else %>
  検索結果はありません
  <br>
<% end %>

<%= link_to '一覧に戻る', books_path, class: 'btn btn-light'%>
