<h1>id: <%= @book.id %> の本詳細</h1>

<p>タイトル：<%= @book.title %></p>
<p>作者　　：<%= @book.author %></p>
<p>感想　　：<%= @book.review %></p>

<%= link_to '一覧に戻る', books_path %>
<%= link_to '内容を編集', edit_book_path(@book) %>
<%= link_to '削除', @book, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>